html, body {
    height: 100%;
}

body {
    padding-top: 70px;
}

#signInLink, #signOutLink {
    cursor: pointer;
}

/* To disable the Google+ Sign In Button, but gapi.signin.render should be invoked to store the credential
   if that is stored in cookie. */
#signInButton iframe {
    display: none;
}

.required {
    color: red;
}

.dismiss-messages {
    cursor: pointer;
}

/* In a small screen, make the alert message sticky to the top */
@media (max-width: 768px) {
    #messages.alert, #rootMessages.alert {
        position: fixed;
        left: 0;
        right: 0;
        top: 65px;
        z-index: 1000;
    }
}

.form-group-condensed {
    margin-top: 0;
    margin-bottom: 5px;
}

.label-separated {
    margin-right: 8px;
}

.spinner {
    position: fixed;
    top: 70px;
    z-index: 9999;
}

#signInButton {
    cursor: pointer;
    vertical-align: middle;
}

#profile-container {
    float: right;
    font-size: 85%;
}

#profile img {
    max-height: 35px;
    width: auto;
    vertical-align: middle;
}

#show-conferences-tab {
    margin-bottom: 20px;
}

ul#filters {
    list-style: none;
    padding-left: 0px;
    font-size: 85%;
}

ul#filters span.glyphicon-remove {
    font-size: 80%;
}

ul#conferences-list {
    list-style: none;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #f8f8f8;
    text-shadow: black 0.1em 0.1em 0.2em;
    background: url(/img/meeting-room.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
}

.intro-message {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    vertical-align: middle;
}

.section-a {
    padding: 50px 0;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}


body{padding-top:70px}

.pricing-table .plan {
    margin-left:0px;
    border-radius: 5px;
    text-align: center;
    background-color: #f3f3f3;
    -moz-box-shadow: 0 0 6px 2px #b0b2ab;
    -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
    box-shadow: 0 0 6px 2px #b0b2ab;
}

.plan:hover {
    background-color: #fff;
    -moz-box-shadow: 0 0 12px 3px #b0b2ab;
    -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
    box-shadow: 0 0 12px 3px #b0b2ab;
}

.plan {
    padding: 20px;
    margin-left:0px;
    color: #ffffff;
    background-color: #5e5f59;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.plan-name-bronze {
    padding: 20px;
    color: #fff;
    background-color: #665D1E;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.plan-name-silver {
    padding: 20px;
    color: #fff;
    background-color: #C0C0C0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.plan-name-gold {
    padding: 20px;
    color: #fff;
    background-color: #FFD700;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.pricing-table-bronze  {
    padding: 20px;
    color: #fff;
    background-color: #f89406;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.pricing-table .plan .plan-name span {
    font-size: 20px;
}

.pricing-table .plan ul {
    list-style: none;
    margin: 0;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.pricing-table .plan ul li.plan-feature {
    padding: 15px 10px;
    border-top: 1px solid #c5c8c0;
    margin-right: 35px;
}

.pricing-three-column {
    margin: 0 auto;
    width: 80%;
}

.pricing-variable-height .plan {
    float: none;
    margin-left: 2%;
    vertical-align: bottom;
    display: inline-block;
    zoom:1;
    *display:inline;
}

.plan-mouseover .plan-name {
    background-color: #4e9a06 !important;
}

.btn-plan-select {
    padding: 8px 25px;
    font-size: 18px;
}
