<div class="row" >
    <div class="col-md-8 col-md-offset-1">
        <form class="form-horizontal" role="form">
            <fieldset>

                <!-- Form Name -->
                <legend>Add New File</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" >Title*</label>
                    <div class="col-sm-8">
                        <input ng-model="fileTitle" type="text" placeholder="File Title" class="form-control" required>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" >Description</label>
                    <div class="col-sm-8">
                        <input ng-model="fileDescription" type="text" placeholder="Description" class="form-control">
                    </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" >Tags*</label>
                    <div class="col-sm-8">
                        <input ng-model="fileTags" type="text" placeholder="Tags" class="form-control" required>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label"> Choose File</label>
                    <div class="col-sm-8">
                        <input ng-file-select type="file" ng-model="myFile"/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">

                        <div id="rootMessages" class="alert alert-{{processStatus}}" ng-show="rootMessages">
                            <span ng-bind="processMessages"></span>
                            <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="rootMessages = ''"
                               ng-show="processMessages"></i>
                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="pull-right">
                            <input class="btn btn-default" type="button" ng-click="uploadFile()" value="Upload File"/>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->