<div>
    <h3 class="text-muted">Customer Dashboard</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li ui-sref-active="active"><a ui-sref="showFiles">My Files</a></li>
                    <li ui-sref-active="active"><a ui-sref="createFiles">Add Files</a></li>


                </ul>
            </div>
           <div class="col-md-10">
                <ui-view></ui-view>
           </div>
        </div>
    </div>
</div>