<!DOCTYPE html>
<!-- Bootstrap the angular app after the Google Java Script libraries are loaded. -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Conference Central</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-sandstone.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/offcanvas.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <meta property="og:title" content="Conference Central">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Conference Central web app that lets you manage conferences.">
    <meta property="og:image" content="img/CloudPlatform_logo.png">
    <meta property="og:site_name" content="An web app powered by Google App Engine">

   <script src="bower_components/angular/angular.js"></script>
    <script>
        /**
         * Initializes the Google API JavaScript client. Bootstrap the angular module after loading the Google libraries
         * so that Google JavaScript library ready in the angular modules.
         */
        function init() {
            gapi.client.load('conference', 'v1', null, '//' + window.location.host + '/_ah/api');

            gapi.client.load('oauth2', 'v2', function () {
                angular.bootstrap(document, ['conferenceApp']);
            });
        };
    </script>
    <script src="//apis.google.com/js/client:plusone.js?onload=init"></script>
</head>

<!-- Restore the credential from cookie if stored by calling initSignInButton() -->
<body ng-controller="RootCtrl" ng-init="initSignInButton()">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >Flystar</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" ng-click="collapseNavbar()"><a ui-sref="home">Home Page</a></li>
                <li ui-sref-active="active" ng-click="collapseNavbar()"><a ui-sref="customerDashboard">My Profile</a></li>
                <li ui-sref-active="active" ng-click="collapseNavbar()"><a ui-sref="apiExample">Status Report</a></li>
                <li class="nav-divider"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="signInLink" ng-hide="getSignedInState()"><a ng-click="signIn(); collapseNavbar()">Google+ SignIn</a></li>
                <li id="signOutLink" ng-show="getSignedInState()"><a ng-click="signOut(); collapseNavbar()">Log out</a></li>


            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div id="rootMessages" class="alert alert-{{alertStatus}}" ng-show="rootMessages">
                <span ng-bind="rootMessages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="rootMessages = ''"
                   ng-show="rootMessages"></i>
            </div>
        </div>
        <div class="col-lg-3">
            <div>show something</div>
            <div id="signInButton">Sign in with google</div>

        </div>
    </div>
    <ui-view></ui-view>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/ng-file-upload-shim/angular-file-upload.min.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

<!-- Put the signInButton to invoke the gapi.signin.render to restore the credential if stored in cookie. -->


</body>
</html>
